<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="topnav" id="myTopnav">
  <a href="/" class="active"><i class="fa fa-home"></i> Home</a>
  <a href="/cars"><i class="fa fa-car"></i> All Cars</a>
  <a href="/cars/new"><i class="fa fa-plus-circle"></i> Add Car</a>
  <a href="javascript:void(0);" class="icon" onclick="toggleNav()">☰</a>
</nav>
